body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
    overflow-y: auto; /* Aggiunge lo scroll verticale */
}

.container {
    display: flex;
    gap: 30px;
    margin-top: 20px; /* Distanza tra le griglie e il contenuto sopra */
}

.grid {
    display: grid;
    grid-template-columns: repeat(11, 30px); /* 10 colonne + 1 per etichetta */
    grid-template-rows: repeat(11, 30px);    /* 10 righe + 1 per etichetta */
    border: 2px solid #ddd;
    background-color: white;
    gap: 1px;
    position: relative; /* Necessario per il posizionamento assoluto degli oggetti trascinabili */
}

.cell {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1e1e1;
    border: 1px solid #ccc;
    font-size: 12px;
    font-weight: bold;
}

.cell-header {
    background-color: #c2c2c2;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.fleet {
    display: flex;
    justify-content: flex-start; /* Allinea gli elementi in fila */
    gap: 10px;
    margin-top: 20px;
}

.fleet-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Necessario per il trascinamento */
    cursor: move;
    transform-origin: center; /* Imposta il punto di rotazione al centro */
}

.fleet-item.single {
    width: 30px;
    height: 30px;
    background-color: #88c8f9;
    border: 1px solid #88A2F9FF;
}

.fleet-item.double {
    width: 60px;
    height: 30px;
    background-color: #ffb380;
    border: 1px solid #FF9380FF;
}

.fleet-item.triple {
    width: 90px;
    height: 30px;
    background-color: #f9f980;
    border: 1px solid #F9C980FF;
}

.fleet-item.quadruple {
    width: 120px;
    height: 30px;
    background-color: #f5889c;
    border: 1px solid #F5889CFF;
}

.fleet-item.single-vertical {
    width: 30px;
    height: 30px;
    background-color: #88c8f9;
    border: 1px solid #88A2F9FF;
}

.fleet-item.double-vertical {
    width: 30px;
    height: 60px;
    background-color: #ffb380;
    border: 1px solid #FF9380FF;
}

.fleet-item.triple-vertical {
    width: 30px;
    height: 90px;
    background-color: #f9f980;
    border: 1px solid #F9C980FF;
}

.fleet-item.quadruple-vertical {
    width: 30px;
    height: 120px;
    background-color: #f58b88;
    border: 1px solid #F5889CFF;
}
