body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
    overflow-y: auto; /* Aggiunge lo scroll verticale */
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #256ec9;
    height: 50px;
    color: white;
    padding: 0 1rem;
    width: 100%;
    box-sizing: border-box;
}
h1 {
    margin: 0;
    font-size: 1.8rem;
}

.container {
    display: flex;
    gap: 30px;
    margin-top: 20px; /* Distanza tra le griglie e il contenuto sopra */
}

.grid {
    display: grid;
    grid-template-columns: repeat(11, 30px); /* 10 colonne + 1 per etichetta */
    grid-template-rows: repeat(11, 30px);    /* 10 righe + 1 per etichetta */
    border: 2px solid #1a3398;
    background-color: white;
    border-collapse: collapse;
}

.cell {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #88bdf9;
    border: 1px solid #7f14c7;
    font-size: 12px;
    font-weight: bold;
}

.cell-header {
    background-color: #256ec9;
    color: white;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.fleet {
    display: flex;
    justify-content: flex-start; /* Allinea gli elementi in fila */
    gap: 10px;
    margin-top: 20px;
}

.fleet_item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Necessario per il trascinamento */
    cursor: move;
    transform-origin: center; /* Imposta il punto di rotazione al centro */
}

.fleet_item.single {
    width: 30px;
    height: 30px;
    background-color: #88c8f9;
    border: 1px solid #88A2F9FF;
}

.fleet_item.double {
    width: 60px;
    height: 30px;
    background-color: #ffb380;
    border: 1px solid #FF9380FF;
}

.fleet_item.triple {
    width: 90px;
    height: 30px;
    background-color: #f9f980;
    border: 1px solid #F9C980FF;
}

.fleet_item.quadruple {
    width: 120px;
    height: 30px;
    background-color: #f5889c;
    border: 1px solid #F5889CFF;
}

.fleet_item.single-vertical {
    width: 30px;
    height: 30px;
    background-color: #88c8f9;
    border: 1px solid #88A2F9FF;
}

.fleet_item.double-vertical {
    width: 30px;
    height: 60px;
    background-color: #ffb380;
    border: 1px solid #FF9380FF;
}

.fleet_item.triple-vertical {
    width: 30px;
    height: 90px;
    background-color: #f9f980;
    border: 1px solid #F9C980FF;
}

.fleet_item.quadruple-vertical {
    width: 30px;
    height: 120px;
    background-color: #f58b88;
    border: 1px solid #F5889CFF;
}

.unavailable {
    background-color: #88f9e8;
}

.taken{
    background-color: #65de14;
}
.eligible{
    background-color: #ff8000;
}

#rotateButton {
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #256ec9;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 140px;
    text-align: center;
}
#rotateButton:hover {
    background-color: #2d97d3;
}